.app-body {
  margin-top: 20px;
}

.nav-styles {
  background-color: #1a1b22
}

.nav-styles a {
  color: white;
}

.nav-styles a:hover {
  color: #e0e0e0
}

.nav-link.active {
  color: #1598AF !important;
}

.dropdown-links a {
  color: #1a1b22;
}

.dropdown-links a:hover {
  color: #252830 !important;
}

.dropdown-item.active {
  background-color: #1598AF;
}

.dropdown-item:active {
  background-color: rgb(236, 236, 236);
}